
// This is an epic fix, certain areas contain empty characters 
// whose line height manifests as whitespace
.product_parameters, .bundle_product_parameters { line-height:0px;  }

#page_store_product {
    
    .fancy_product_option {  h5 { margin-top:0; }
        padding-left:1em; 
    }
    
    // Product bundle
    //
    
    table.bundle_product_options, table.bundle_product_extra_options, .bundle_item_quantity_control table {
        min-width: 200px;
    }

    table.bundle_items {
        width: 100%;
        margin-bottom: 1em;

        th.item {
            width: 27%;
            font-weight: bold;
            color: $quietColor;
            padding: 10px;
            p {
                font-weight: normal;
                font-size: 11px;
                margin: 5px 0 0 0;
            }
        }

        td.products {
            padding: 10px 10px 0 10px;
            padding-bottom: 0;
        }

        .product_parameters {
            margin-top: 15px;
        }

        td select { width: 100%; }
        
        .product_attributes {
            margin-bottom: 0;
            select { width: 150px; }
        }

        .add_to_cart_control { margin-bottom: 0; }

        li { 
            margin-left: 0; list-style: none;
            label { color: $quietColor; }
        }
        
        td.products {
            > ul { margin-bottom: 0; }
            > ul > li { margin-bottom: 10px; }
            > ul > li:last-child { margin-bottom: 0; }
        }

    }

    // Product attributes
    table.product_attributes {
        width: auto;
        th, td { font-size: 12px; }
        th { color: $loudColor; text-align: left; }
        td { color: $quietColor; }
        label { vertical-align: middle; }
    }
    
    // Product options
    table.product_options { 
        th { padding-top:15px; }
    }
    table.bundle_product_options { 

    }

    // Product extras
    table.product_extra_options, table.bundle_product_extra_options {
        label { color: $quietColor; display: inline-block; }
        th { vertical-align: middle; }
        td div { margin-left: -3px; }  
    }
}


  
  
