/* -------------------------------------------------- 
:: Common
----------------------------------------------------- */
span.on_sale { display: block; width: 81px; height: 28px; text-indent: -10000px; position: absolute; top: 30px; left: -20px; z-index: 1000; background: transparent url(../images/on_sale_badge.png) no-repeat left top; }

.product_list h5 { margin-top: 0; }
.product_list .star-rating { margin-bottom: 0; position: relative; top: -1em; }

.add_to_cart_control { border-collapse: collapse; border: none; width: auto; }
.add_to_cart_control td { vertical-align: middle; padding-right: 8px; }
.add_to_cart_control .x { color: #ccc; font-size: 19px; font-weight: bold; padding-right: 11px; }
.add_to_cart_control tbody td { padding-bottom: 0; padding-top: 0; }
.add_to_cart_control tfoot td { text-transform: uppercase; color: gray; padding-top: 9px; font-size: 11px !important; }
.add_to_cart_control .product_price { margin-right: 0; }
.add_to_cart_control .qty_controls div { margin-right: 10px; margin-top: 10px; }

table.fancy_selector { border: none; border-collapse: collapse; width: 100%; font-size: 11px; }
table.fancy_selector thead th { padding: 5px 10px; text-shadow: 0 1px 1px #fff; border-bottom: 3px solid #ccc; color: #2b3f6d; background: #c1cfef; border-bottom-color: #2b3f6d; }
table.fancy_selector tbody th, table.fancy_selector tbody td, table.fancy_selector tbody a { padding: 0; margin: 0; border: none; line-height: inherit; }
table.fancy_selector tbody a { display: block; text-shadow: 0 1px 1px #fff; padding: 5px 10px; text-decoration: none; position: relative; }
table.fancy_selector tbody th a { color: #333; }
table.fancy_selector tbody td a { color: #666; }
table.fancy_selector th.first { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
table.fancy_selector th.last { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
table.fancy_selector tr.even { background-color: #ededed; }
table.fancy_selector .number { text-align: right; }
table.fancy_selector tbody tr:hover a, table.fancy_selector tr.current a { text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1); color: white; }
table.fancy_selector .marker { position: absolute; height: 100%; width: 20px; top: 0; left: -20px; background: transparent url(../images/current_marker.png) no-repeat right 50%; }
table.fancy_selector .marker, table.fancy_selector tr.current td, table.fancy_selector tr.current th, table.fancy_selector tbody tr:hover td, table.fancy_selector tbody tr:hover th { background-color: #2b3f6d; }

.taj, .align_justify { text-align: justify; }

.tac, .align_center { text-align: center; }

.tal, .align_left { text-align: left; }

.tar, .align_right { text-align: right; }

.fl, .float_left { float: left; }

.fr, .float_right { float: right; }

.ttu, .uppercase { text-transform: uppercase; }

.ttl, .lowercase { text-transform: lowercase; }

.ttc, .capitalize { text-transform: capitalize; }

.hidden { display: none; }

/* -------------------------------------------------- 
:: Components
----------------------------------------------------- */
