/* -------------------------------------------------- 
:: Home
----------------------------------------------------- */
/* -------------------------------------------------- 
:: Store
----------------------------------------------------- */
/* -------------------------------------------------- 
:: Store Category
----------------------------------------------------- */
/* -------------------------------------------------- 
:: Store Product
----------------------------------------------------- */
.product_parameters, .bundle_product_parameters { line-height: 0px; }

#page_store_product .orbit-bullets { bottom: -42px; }
#page_store_product .fancy_product_option { padding-left: 1em; }
#page_store_product .fancy_product_option h5 { margin-top: 0; }
#page_store_product table.bundle_product_options, #page_store_product table.bundle_product_extra_options, #page_store_product .bundle_item_quantity_control table { min-width: 200px; }
#page_store_product table.bundle_items { width: 100%; margin-bottom: 1em; }
#page_store_product table.bundle_items th.item { width: 27%; font-weight: bold; color: #555555; padding: 10px; }
#page_store_product table.bundle_items th.item p { font-weight: normal; font-size: 11px; margin: 5px 0 0 0; }
#page_store_product table.bundle_items td.products { padding: 10px 10px 0 10px; padding-bottom: 0; }
#page_store_product table.bundle_items .product_parameters { margin-top: 15px; }
#page_store_product table.bundle_items td select { width: 100%; }
#page_store_product table.bundle_items .product_attributes { margin-bottom: 0; }
#page_store_product table.bundle_items .product_attributes select { width: 150px; }
#page_store_product table.bundle_items .add_to_cart_control { margin-bottom: 0; }
#page_store_product table.bundle_items li { margin-left: 0; list-style: none; }
#page_store_product table.bundle_items li label { color: #555555; }
#page_store_product table.bundle_items td.products > ul { margin-bottom: 0; }
#page_store_product table.bundle_items td.products > ul > li { margin-bottom: 10px; }
#page_store_product table.bundle_items td.products > ul > li:last-child { margin-bottom: 0; }
#page_store_product table.product_attributes { width: auto; }
#page_store_product table.product_attributes th, #page_store_product table.product_attributes td { font-size: 12px; }
#page_store_product table.product_attributes th { color: black; text-align: left; }
#page_store_product table.product_attributes td { color: #555555; }
#page_store_product table.product_attributes label { vertical-align: middle; }
#page_store_product table.product_options th { padding-top: 15px; }
#page_store_product table.product_extra_options label, #page_store_product table.bundle_product_extra_options label { color: #555555; display: inline-block; }
#page_store_product table.product_extra_options th, #page_store_product table.bundle_product_extra_options th { vertical-align: middle; }
#page_store_product table.product_extra_options td div, #page_store_product table.bundle_product_extra_options td div { margin-left: -3px; }
#page_store_product .review_list blockquote { position: relative; }
#page_store_product .review_list blockquote p.content { font-style: italic; margin-bottom: 5px; }
#page_store_product .review_list blockquote h6 { margin: 5px 0; color: black; }
#page_store_product .review_list blockquote cite small { font-size: 11px; font-style: normal; color: #bfbfbf; display: block; }
#page_store_product .review_list blockquote p.star-rating { position: absolute; right: 0; top: 2px; width: 90px; }

/* -------------------------------------------------- 
:: Store Cart
----------------------------------------------------- */
#page_store_cart .product_table .align_right { text-align: right !important; }
#page_store_cart .product_table th.item { width: 60%; }
#page_store_cart .product_table th.controls { width: 1%; }
#page_store_cart .product_table tbody td img.product_image { margin-right: 1em; }
#page_store_cart .product_table tbody td div.bundle_item { padding-left: 30px; }
#page_store_cart .product_table tbody tr.bundle_totals { background: #e6e6e6; }
#page_store_cart .product_table tbody tr.bundle_totals td { font-weight: bold; }
#page_store_cart .product_table tfoot tr { border-bottom: 1px solid #e6e6e6; }
#page_store_cart .product_table tfoot th { padding-top: 2em; padding-bottom: 2em; }
#page_store_cart .product_table tfoot div.cart_subtotal_label { text-transform: uppercase; font-size: 12px; }
#page_store_cart .product_table tfoot div.cart_subtotal { font-size: 19px; }
