/* -------------------------------------------------- 
:: Base
----------------------------------------------------- */
#footer { margin-top: 2em; border-top: 1px solid #e6e6e6; padding: 1em 0; }

/* -------------------------------------------------- 
:: Home
----------------------------------------------------- */
/* -------------------------------------------------- 
:: Default
----------------------------------------------------- */
body.default .page_content { padding: 0 1em 1em 1em; }
